/*index.html*/
header {
  background-color: #333;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}

.navigation-links {
  background-color: #333;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

footer {
  background-color: #333;
  padding: 10px;
  margin: 0;
  color: white;
  text-align: center;
}
