/* for all pages */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

.company-name {
  color: white;
  font-size: 2em;
}

/*navigation links*/
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
}

.nav-link {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
/* home page */

.about-us {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 20px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.shop-now button {
  background-color: #4caf50;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
}

.shop-now button:hover {
  background-color: #45a049;
}

.shop-now a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Customer Reviews*/
.customer-reviews {
  background-color: #ddd;
  padding: 20px;
  margin: 20px;
}

/*---------------------------------------------------------*/

/* Login Form Section Styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

/* Form Field Styles */
form label {
  display: block;
  margin: 10px;
}

form input {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

/* Login Button Styles */
.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  opacity: .5
}

.login-button:hover {
  background-color: #45A049;
  opacity: 1.0
}

/* Message Box Styles */
.message-box {
  border: 2px solid;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 20px;
}


/* Signup Link Styles */
.signup-link {
  color: #007BFF;
  text-decoration: none;
  margin: 10px;
}

.signup-link:hover {
  text-decoration: underline;
}

/*---------------------------------------------------------*/

/* contact page */
.contact-information {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-method {
  background-color: #ddd;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
}

.contact-link {
  text-decoration: none;
}
.contact-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.contact-information button {
  color: #fff;
  background-color: #4caf50;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.contact-information button:hover {
  background-color: #45a049;
}

.contact-information textarea {
  width: 50%;
  border: none;
  border-radius: 5px;
}

.contact-information input {
  border: none;
  border-radius: 5px;
}
/* product page */
.product-list {
  display: flex;
  justify-content: center;
  border-spacing: 50px;
  background-color: #ddd;
  padding: 20px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.product-list th {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.product-list th:hover {
  background-color: #fff;
}

.product-list img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.price-tag {
  color: #007bff;
  font-weight: bold;
}

.product-list button {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  color: white;
  background-color: #4caf50;
}

.product-list button:hover {
  background-color: #45a049;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.cart-item {
  padding: 10px;
}

#shopping-cart button {
  background-color: #575a5d;
}

#shopping-cart button:hover {
  background-color: rgb(223, 21, 21);
}

/* signup page */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form label {
  margin: 10px;
}

.signup-form input {
  padding: 10px;
  /* margin: 10px; */
  background-color: #fff;
  border-radius: 5px;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
}

.signup-button {
  background-color: #4caf50;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  opacity: 0.5;
  border: none;
}

.signup-button:hover {
  background-color: #45a049;
  opacity: 1;
}

.error-message {
  display: flex;
  direction: column;
  border: 2px;
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.success-message {
  display: flex;
  direction: column;
  border: 2px;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.password-wrapper {
  display: flex;
  align-items: center;
}
